<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Webaasnn!
  </h1>
  <img width="300" alt="Webaasnn Logo" src="../assets/images/webaasnn-logo-sunshine-full.svg">
</div>